.App {
  text-align: center;
}

.header__btn-style {
  margin-left: 5rem !important;
}
.table__btn-style {
  margin-right: 2rem ;
}

.text-style {
  color: aliceblue;
  font-size: 18px;
}

.from-btn {
  margin-left: 20px;
  
}

.modal-remove {
  display: none;
  background: rgb(148, 131, 131);
  padding: 20px;
  width: 250px;
  position: absolute;
  z-index: 9999;
}

.modal__btn-group {
  text-align: center;
}

.modal-redakt {
  /* display: block; */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.288);
}

.modal-redakt__container {
  padding: 50px;
  background: rgb(179, 108, 108);
}